@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-feature-settings: "cv11", "ss02";
  min-height: 100vh;
  background-color: theme("colors.background");
  color: theme("colors.foreground");
}
